<h2><%= @post.title %></h2>
<p><%= @post.body %></p>

<%= link_to "edit", edit_post_path(@post)%>
<%= link_to "delete", post_path(@post),
                        method: :delete,
                        data: {confirm: "are you sure?"}
                        %>
<h2>Comments</h2>

<h2>Add a new comments</h2>
    <% @post.comments.each do |c|%>
    
        <p>
        <%= c.username%>
        </p>
        <p>
            <%= c.body%>
        </p>
        <%= link_to "Delete", [c.post, c],
                                method: :delete,
                                data: {confirm: "sure ?"}%>

    <% end %>


<%= form_with(model: [ @post, @post.comments.build ], local: true) do |f| %>
     <p>
            <%= f.label :username%>
            <%= f.text_field :username, {:class => 'form-control'} %>
        </p>
        <p>
            <%= f.label :body%>
            <%= f.text_field :body, {:class => 'form-control'}%>
        </p>
        <%= f.submit({:class => 'btn btn-primary'})%>
<% end %>